.box {
    width: 50px;
    height: 50px;
    background-color: #add6c3; /*green*/
    transition-property: width, background-color; /*add bg to transition property, colors gradually change using color spectrum*/
    transition-duration: 2s;
}

.box:hover {
    width: 150px;
    background-color: #e25156; /*red-on hover bg-color changes from green to red*/
}